{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1> Information </h1>

    <table class="table">
    <thead>
        <tr class="table-active">
            <th>Projet</th>
            <th>Date création</th>
            <th>Nombre de sources</th>
            <th>Nombre de sources tarduites</th> 
        </tr>
    </thead>
    <tbody>
          <td> {{ project.nameProject }} </td>
          <td> {{ project.date | date("d/m/y") }}</td>
          <td>{% for srcs in nbSrc %} {{ srcs.source }} {% endfor %}</td>
	   <td>{% for srcsTrans in nbSrcTrans %} {{ srcsTrans.sourceTrans }} {% endfor %}</td>
    </tbody>
    </table>
</div>


{% endblock %}
